* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
}

/* Navbar */
.pink {
  background-color: rgb(229, 159, 159);
}

.socials i {
  color: rgb(101, 74, 74);
}

.socials i:hover {
  color: rgb(59, 55, 55);
}  


/* Hero Section */
#Hero-Section {
  background-image: url("../img/bg-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis Libros */
#mis-libros .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#mis-libros .btn:hover {
  color: black;
  background-color: rgb(229, 159, 159);
}

/* Favoritos */
#faves img {
  width: 20em;
}

/* Venta */
#venta .image-top {
  width: 180px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#venta .btn:hover {
  color: black;
  background-color: rgb(229, 159, 159);
}

/* Contacto */
#contacto .btn:hover {
  color: black;
  background-color: rgb(226, 40, 121);
}